<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="images/cars/car-repair.png" alt="">
  </div>
  <div class="headings">
    <h2>Gorge Car Dealership</h2>
    <h3>The Best car dealership in East Africa</h3>
    <a href="/newCars" class="btn">View New Cars</a>
    <a href="/usedCars" class="btn">View Used Cars</a>
    <a href="/sparePart" class="btn">Parts</a>
  </div>
</header>

<!-- created using the following emmet snippet
      section*8>(h1>{Nice Curves})+p>lorem
    And hitting tab at the end -->


<%- include('partials/footer'); -%>